*{
	padding: 0px;
	margin: 0px;
    font-family: Helvetica;
}
/* body */
body{
    background-color: #000000;
}
/* particles */
body .particles-js{
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
/* header */
header{
    width: 100%;
    height: auto;
    text-align: center;
    background: #063d6d;
    padding: 10px 0;
    border-radius: 5px;
}
header h1{
    display: inline;
    font-size: 20px;
    font-weight: bold;
    color:#ffffff;
}
header button{
    color: #000000;
    width: auto;
    height: auto;
    margin-top: 5px;
    padding: 3px 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    cursor: pointer;
    animation: color_change 2s infinite;
}
@keyframes color_change {
    0% {
        background-color: rgba(241, 196, 15, 0.6);
    }
    50% {
        background-color: rgba(241, 196, 15, 1);
    }
    100% {
        background-color: rgba(241, 196, 15, 0.6);
    }
}
header h1 a:hover{
    text-decoration: underline;
}
/* main */
.container{
    display: -webkit-flex;
    flex-wrap: wrap;
    padding: 20px 20px;
    width: calc(100% - 40px);
    min-height: 70vh;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 35px;
    font-weight: bold;
    color: #ffffff;
    z-index: 1;
}
.flex-box{
    display: flex;
    margin: 20px;
    padding: 20px 10px;
    width: 15%;
    height: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    border: 3px solid;
}
.flex-box .title {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flex-box .img {
    flex: 0 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-box h1{
    font-size: 28px;
    font-weight: bold;
    color: #000000;
}
.flex-box h2{
    font-size: 20px;
    color: #000000;
    font-weight: normal;
}
.flex-box img{
    max-width: 100%;
}
.flex-box:hover{
    background: rgba(255, 255, 255, 1);
}
#floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background: rgba(6, 61, 109, 0.7);
  color: #ffffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s;
}
#floating-button:hover {
    transform: scale(1.1);
  background: rgba(6, 61, 109, 1);
  transition: 0.5s;
}
.floating-menu {
  position: fixed;
  bottom: 80px;
  right: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  display: none;
  z-index: 2;
}
.floating-menu ul {
  list-style-type: none;
  padding: 0;
}
.floating-menu ul li a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-weight: bold;
  padding: 10px;
}
.floating-menu ul li a:hover {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
}
/* popup */
.hide_background{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
}
.msg_popup{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(241, 196, 15, 1);
    width: 300px;
    padding: 10px;
    border: 3px solid #bc0032;
    border-radius: 10px;
    text-align: center;
    z-index: 4;
}
.msg-content{
    position: relative;
}
.msg-content .close{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #bc0032;
    cursor: pointer;
}
.msg-content img{
    width: 150px;
    height: 150px;
}
.msg-content h1{
    font-size: 30px;
    font-weight: bold;
    color: #bc0032;
}
.msg-content h2{
    font-size: 20px;
    color: #000000;
    font-weight: normal;
}
.msg-content button{
    margin: 5px 0;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
}
.msg-content .close_popup{
    background: rgba(188, 0, 50, 0.8);
    border: 3px solid #bc0032;
    color: #ffffff;
}
.msg-content .close_popup:hover{
    cursor: pointer;
    background: rgba(188, 0, 50, 1);
}
/* responsive */
@media screen and (max-width:1400px){
    .flex-box{
        margin: 20px;
        width: 40%;
    }
    .flex-box h1{
        font-size: 24px;
    }
}
@media screen and (max-width:750px){
    .container{
        min-height: 65vh;
    }
    .flex-box{
        margin: 10px;
        width: 100%;
    }
}